<div class="container" style="margin-top:50px">
  <div class="row">
    <h2>Why?</h2>
    <p>I drive a vehicle that requires high-octane fuel. Most vehicles do not require high-octane fuel. Therefore every time I fill up at a 1-hose gas pump, there's a very high chance I'm getting a hose full of regular even though I'm paying for premium.</p>
    <p>I searched the web for a database of 3-hose gas stations and could not find one. So I built my own and decided to share it with the world.</p>
  </div>

  <div class="row">
    <h2>How?</h2>
    <p>With the <a href="https://play.google.com/store/apps/details?id=com.appspot.threehoses">Android App</a>, you can check-in a gas station whenever you stop to fill-up. You can also search for the closest 3-hose gas stations to your current location</p>
  </div>

  <div class="row">
    <h2>FAQ</h2>
    <ul class="list-group">
      <li class="list-group-item">
        <h4 class="list-group-item-heading">How do I check-in a gas station?</h4>
        <p>Drive up to the pump and observe if it has 1 or 3 hoses. Click the check-in button. You will be presented with a list of nearby stations. Choose the one you are at, then press the corresponding button for 1-hose or 3-hoses.</p>
      </li>
      <li class="list-group-item">
        <h4 class="list-group-item-heading">Why can't the app find my gas station to check-in?</h4>
        <p>The search radius for a check-in is only 100 meters</p>
      </li>
      <li class="list-group-item">
        <h4 class="list-group-item-heading">Why is the check-in radius only 100 meters?</h4>
        <p>This rule forces some rudimentary accountability. It ensures you are actually at the pump to make an accurate observation.</p>
      </li>
      <li class="list-group-item">
        <h4 class="list-group-item-heading">What prevents somebody from entering false data?</h4>
        <p>Nothing. I hope you won't. The back-end records the number of 1-hose check-ins and 3-hose check-ins for each gas station. I could always average them out and trust the majority (if a single gas station had two 1-hose check-ins and five 3-hose check-ins, we might assume the gas station has 3-hoses).</p>
      </li>
      <li class="list-group-item">
        <h4 class="list-group-item-heading">Can I get a copy of the data?</h4>
        <p>Certainly. Just click <a href="/data">this link.</a></p>
      </li>
      <li class="list-group-item">
        <h4 class="list-group-item-heading">Why is this android-only?</h4>
        <p>To my knowledge, you can only develop iphone apps on Apple devices. I do not own any apple devices. If somebody else who owns an apple device and knows objectiveC/swift would like to code an iphone version of three-hoses, that would be swell. It's a fairly simple app (2 buttons and about as many API calls).</p>
      </li>
      <li class="list-group-item">
        <h4 class="list-group-item-heading">Why does the website/app look like crap?</h4>
        <p>I am mostly interested in the raw data. I just want to know where the 3-hose gas stations are. If somebody more talented then myself would like to tackle the UI, go for it.</p>
      </li>
    </ul>
  </div>
</div>
