<div class="container" style="margin-top:50px">
  <div class="row">
    <h2>Data Dump</h2>
    <p>To download a complete csv dump of the database, right-click the following link and choose "save as". This file is generated automatically once per day.</p>
    <p><a href="http://storage.googleapis.com/three-hoses.appspot.com/three-hoses.csv">three-hoses.csv</a></p>
  </div>
</div>
