<div class="container" style="margin-top:50px">
  <div class="row">
    <iframe id="forum_embed" src="https://groups.google.com/forum/embed/?place=forum/three-hoses-discussion-board#!forum/three-hoses-discussion-board" scrolling="no" frameborder="0" width="100%" height="700"></iframe>
  </div>
</div>