<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdpdbJa0-VNdrvUtPXqtj_8egpj-mfICM">
</script>
<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      center: { lat: 30.16, lng: -97.44},
      zoom: 9
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
    ThreeHoses.bootstrap(map);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div id="map-canvas"></div>
  